* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to left, #DDC2A5, #E0AA6E);
}

/* CSS for registration page and login page */

    .registerDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .registerForm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #201E21;
        padding: 5%;
        border-radius: 20px;
    }

    .registerTitle {
        color: white;
        padding-bottom: 20px;
    }

    .registerInput {
        padding: 15px;
        margin: 5px;
        border: 0;
        border-radius: 5px;
        transition: all 200ms ease;
        cursor: pointer;
        font-size: 20px;
    }

    .registerInput:focus-visible {
        border: none;
        outline: none;
    }

    .registerInput:focus {
        background-color: gray;
        translate: -1px -1px;
        rotate: -0.5deg;
    }

    .registerButton {
        background-color: #fff;
        font-weight: bolder;
        border-radius: 50000000px;
        width: 100%;
        transition: all 200ms ease;
    }

    .registerButton:hover {
        background: #DDC2A5;
    }

/* CSS for dashboard */

    #mainDashboard * {
        color: #fff;
    }

    #mainDashboard, #mainRoutineDashboard {
        background-color: #201E21;
        margin: 5% 20%;
        padding: 25px;
        border-radius: 15px;
    }

    .backToDashboard {
        position: absolute;
        height: 43px;
        width: 43px;
        border-radius: 50000000px;
        border: none;
        color: #fff;
        cursor: pointer;
        background: rgb(42, 40, 43);
        transition: all 100ms ease-in;
    }

    .backToDashboard:hover {
        scale: 1.1;
    }

    .dashboardFitness {
        display: flex;
    }

    .dashboardRoutines {
        width: 50%;
    }

    .routinesTable {
        width: 100%;
    }

    .deleteRoutine {
        border: 0;
        border-radius: 50000px;
        height: 40px;
        width: 40px;
        background: red;
    }

    .deleteRoutineText {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

/* CSS for viewing routines */

    #routineTitle {
        color: #fff;
        text-align: center;
    }

    #exercisesDashboard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
    }

    .exercisesTable, .exercisesTable * {
        padding: 5px;
    }

    .exercisesTable {
        margin: 5px;
        background-color: #f0f0f0;
        border-radius: 10px;
        border-collapse: collapse;
    }

    .exercisesTable > tbody > tr:not(:last-child) {
        border-bottom: 2px solid black;
    }

    .exercisesTable > tbody > tr > td:not(:last-child) {
        border-right: 2px solid black;
    }

    .exerciseWeight, .exerciseReps, .editExercise, .deleteExercise, .addExercise {
        text-align: center;
    }

    .editExerciseButton {
        width: 100%;
    }

    .deleteExerciseButton {
        background-color: red;
        border: none;
        border-radius: 5000000px;
        height: 37px;
        width: 37px;
        font-weight: bolder;
    }

    .addExerciseButton {
        border: none;
        background-color: transparent;
        border-radius: 5000000px;
        font-weight: bolder;
        font-size: 20px;
        cursor: pointer;
    }